*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}


body{
    background:linear-gradient(135deg,#16001f,#55002f);
    color:white;
    overflow-x:hidden;
}


.page{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}


.one h1{
    font-size:45px;
    animation:glow 2s infinite alternate;
}


.one h2{
    margin:20px;
    font-size:25px;
}


button{
    padding:15px 35px;
    border:none;
    border-radius:30px;
    background:#ff4f9a;
    color:white;
    font-size:18px;
    cursor:pointer;
    box-shadow:0 0 20px #ff4f9a;
}


button:hover{
    transform:scale(1.1);
}



.two{
    display:none;
}


.gallery{

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
    width:95%;
    margin-top:30px;

}


.gallery img{

    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:20px;
    box-shadow:0 0 20px rgba(255,255,255,.3);
    transition:.5s;

}


.gallery img:hover{

    transform:scale(1.05);

}



.message{
    margin-top:15px;
    font-size:18px;
}


.end{
    margin-top:40px;
}



@keyframes glow{

from{
text-shadow:0 0 10px pink;
}

to{
text-shadow:0 0 30px white;
}

}



.heart{

position:fixed;
bottom:-10px;
font-size:25px;
animation:float 6s linear infinite;

}



@keyframes float{

0%{
transform:translateY(0);
opacity:1;
}

100%{
transform:translateY(-100vh);
opacity:0;
}

}
